@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-figtree), sans-serif;
    background-color: white;
    font-size: 16px;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    color: #020617;
  }
} 